*, *:before, *:after {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	background: #34BD87;
	font-family: sans-serif;
	color: #333;
}
.container {
	padding: 0;
	background: red;
}
header {
	text-align: center;
	padding: 1.5rem;
	background: #F5DA55;
}
p {
	margin: 0;
}